# Exercise 1: Dealing with Missing Data
 
In this exercise, you need to download `Estate.csv` and import it into Pandas data frame. This is a small data set which contains only 10 rows. There are three different types of missing data: standard missing data (in column `ST_NUM`), non standard missing data (in `NUM_BEDROOMS`), and unexpected missing values (in `OWN_OCCUPIED`). 

Now, complete the following tasks by using appropriate python code.

#### Ex1.1:	Import the relevant libraries, read the data into Pandas data frame and look at the first few rows

In [ ]:
import pandas as ps
import numpy as np
data1 = pd.read_csv('Datasets/Estate.csv')
#look at the first few rows
data1.head(10)

#### Ex1.2:	Dealing with the standard missing data - check the number of missing values of each column.

In [ ]:
data1.isnull().sum()

#### Ex1.3:	Check the value of `NUM_BEDROOM`. Note that, these columns contain non-standard missing values as well. Change all the non-standard missing values to NaN. After that, check the value of `NUM_BEDROOMS`

In [ ]:
data1['NUM_BEDROOMS']

missing_values=['n.a','na','--']
data1=pd.read_csv('Estate.csv',na_values=missing_values)
data1['NUM_BEDROOMS']

#### Ex1.4:	Assume that you found `OWN_OCCUPIED` is having unexpected error. Check the values of this column and observe that it contains data with different data type. Then perform the steps below to change the values that are not the similar type into an integer, and then to `np.nan`

Steps: 
1. Loop through the `OWN_OCCUPIED` column 
2. Try and turn the entry into an integer 
3. If the entry can be changed into an integer, enter a missing value 
4. If the number can’t be an integer, we know it’s a string, so keep going without doing anything

In [ ]:
cnt=0
for row in data1['OWN_OCCUPIED']:
    try:
       int(row)
       data1.loc[cnt,'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1
data1['OWN_OCCUPIED']

# Exercise 2: Dealing with Outliers
In this exercise, we will use the Boston housing data. You can download directly from this link here: https://archive.ics.uci.edu/ml/machine-learning-databases/housing/ or import directly from sklearn. This data has no missing values with 506 samples. The attributes information is as below: 
|   |   |   | 
|---|---|---|
| 1.  | CRIM    | per capita crime rate by town |
| 2.  | ZN      | proportion of residential land zoned for lots over 25,000 sq.ft. |
| 3.  | INDUS   | proportion of non-retail business acres per town |
| 4.  | CHAS    | Charles River dummy variable (= 1 if tract bounds river; 0 otherwise) |
| 5.  | NOX     | nitric oxides concentration (parts per 10 million) |
| 6.  | RM      | average number of rooms per dwelling |
| 7.  | AGE     | proportion of owner-occupied units built prior to 1940 |
| 8.  | DIS     | weighted distances to five Boston employment centres |
| 9.  | RAD     | index of accessibility to radial highways |
| 10. | TAX     | full-value property-tax rate per $10,000 |
| 11. | PTRATIO | pupil-teacher ratio by town |
| 12. | B       | 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town |
| 13. | LSTAT   | % lower status of the population |
| 14. | MEDV    | Median value of owner-occupied homes in $1000's |

Ex2.1.	Download Boston housing data from sklearn.datasets, load the data and save in a Pandas data frame. Remember to import all the necessary files. 

Ex2.2.	Check the features and view the first few rows of the data. 

Ex2.3.	Visualize the feature CRIM (per capita crime rate) by using box plot.

Ex2.4.	Check all the features by using histogram.

Ex2.5.	Define the z-score of CRIM. 

Ex2.6.	Remove those data with z-score (+/-) exceeding 3 standard deviation. How many samples are removed from the data?

## Exercise 3: Extract South East Asia Data

In [1]:
import pandas as pd
import numpy as np

data = pd.read_excel('Datasets/cell phone total.xlsx', header=[0]) 
print(data.head())

threshold = data.isnull().sum(axis=1)/(len(data.columns)-1) 

#exclude the 1st column which is the name of countries
remove_row = threshold[threshold>0.8].index

data.drop(remove_row, axis=0, inplace = True)

# Print out all the columns. Suppose the 1st column is not treated as column. Rename the 1st columns as ‘Country’. 
data.rename(columns={'Mobile cellular subscriptions, total number':'Country'}, inplace = True)

# set country as index.
data.set_index("Country", inplace = True)

  Mobile cellular subscriptions, total number  1965  1966  1967  1968  1969  \
0                                    Abkhazia   NaN   NaN   NaN   NaN   NaN
1                                 Afghanistan   0.0   NaN   NaN   NaN   NaN
2                       Akrotiri and Dhekelia   NaN   NaN   NaN   NaN   NaN
3                                     Albania   0.0   NaN   NaN   NaN   NaN
4                                     Algeria   0.0   NaN   NaN   NaN   NaN

   1970  1971  1972  1973  ...      2002       2003       2004        2005  \
0   NaN   NaN   NaN   NaN  ...       NaN        NaN        NaN         NaN
1   0.0   NaN   NaN   NaN  ...   25000.0   200000.0   600000.0   1200000.0
2   NaN   NaN   NaN   NaN  ...       NaN        NaN        NaN         NaN
3   0.0   NaN   NaN   NaN  ...  851000.0  1100000.0  1259590.0   1530244.0
4   0.0   NaN   NaN   NaN  ...  450244.0  1446927.0  4882414.0  13661355.0

         2006        2007        2008        2009        2010        2011
0         NaN         NaN         NaN         NaN         NaN         NaN
1   2520366.0   4668096.0   7898909.0  10500000.0  13000000.0  17558265.0
2         NaN         NaN         NaN         NaN         NaN         NaN
3   1909885.0   2322436.0   1859632.0   2463741.0   2692372.0   3100000.0
4  20997954.0  27562721.0  27031472.0  32729824.0  32780165.0  35615926.0

[5 rows x 48 columns]

:

#### Ex 3.1: Extract South East Asian countries and save as data_asean.

In [ ]:
data_asean = data.loc[['Brunei', 'Myanmar', 'Cambodia', 'Indonesia', 'Malaysia', 'Philippines', 'Singapore', 'Thailand', 'Vietnam']]
data_asean

#### Ex3.2:	Extract columns 2005 till 2011 from data_asean.

In [ ]:
data_asean.loc[:,'2005':'2011']

#### Ex3.3:	Sort the results based on year 2005.

In [ ]:
data_asean.loc[:,'2005':'2011'].sort_values(by=['2005'])

#### Ex3.4:	Extract Malaysia and Singapore data from year 2010 & 2011 and filter the values to less than 35,000,000.

In [ ]:
data_asean_sub = data_asean.loc[['Malaysia','Singapore'], ['2010', '2011']]
data_asean_sub[(data_asean_sub['2010'] < 35000000) | data_asean_sub['2011'] < 35000000]


## Exercise 4: Date Time

By referring your lecture notes, 
- Ex4.1.	Create another new column: day_of_week_name where this column stores the day based on the date. For e.g.: 2004-10-03, then day_of_week_name will have the value Sunday.
- Ex4.2.	Calculate the number of years based on current year to the date in data.